body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
li {
  list-style: none;
}
.list {
  color: black;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #8c82fc;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 50px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.button-59:focus {
  color: #171e29;
  border-radius: 10px;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.labels{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: 0 solid black;
  width: 200px;
  height: 40px; 
  cursor: pointer;

}
.labels:hover{
  background-color: #cecece;
  font-size: 21px;
}

.textbox {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.3s;
}

.textbox:focus {
  border-color: #8c82fc;
  box-shadow: 0 0 1px 0 #8c82fc;
}

.editdetailsbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7a7a7;
  width: 100px;
  height: 30px;
}
.editdetailsbutton:hover{
  background-color: #8c82fc;
}